{{#bulma-section}}
  <div class="content">
    <p>
      A table can be composed using the following components:
      <ul>
        <li>
          <code>sf-table</code>
        </li>
        <li>
          <code>sf-headings</code>
          <ul>
            <li><strong>headings</strong> <em>Array</em> - a list of (key) names and their corresponding display names.</li>
          </ul>
        </li>
        <li>
          <code>sf-filter</code>
          <ul>
            <li><strong>placeholder</strong> <em>String</em> - Placeholder text for filter input. Default is <code>"Filter"</code></li>
            <li><strong>withClearField</strong> <em>Bool</em> - appends a link to clear the input field. Default is <code>false</code></li>
          </ul>
        </li>
        <li>
          <code>sf-rows</code>
          <ul>
            <li><strong>rows</strong> <em>Array</em> - a list hashes to display as table rows</li>
          </ul>
        </li>
      </ul>
    </p>
    <p>
      Components within a table communicate via the yielded <code>group</code> parameter.
    </p>
    <p>
     {{#themed-syntax lang="handlebars" theme="dark"}}
&#123;&#123;#sf-table as | sf |&#125;&#125;
  &lt;thead&gt;
    &lt;tr&gt;
      &#123;&#123;sf.headings
        headings=(array
        (hash key="firstName" display="First Name")
        (hash key="lastName" display="Last Name")
        (hash key="number" display="No.")
        (hash key="position" display="Pos.")
        )&#125;&#125;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tr&gt;&lt;td colspan="99"&gt;&#123;&#123;sf.filter placeholder="Search"&#125;&#125;&lt;/td&gt;&lt;/tr&gt;
  &lt;tbody&gt;
    &#123;&#123;sf.rows rows=(array
      (hash firstName='Michael' lastName='Jordan' number='23' position='G' _tags='guard north carolina')
      (hash firstName='Scottie' lastName='Pippen' number='33' position='SF' _tags='small forward central arkansas')
      (hash firstName='Horace' lastName='Grant' number='54' position='F' _tags='power forward clemson')
      )&#125;&#125;
  &lt;/tbody&gt;
&#123;&#123;/sf-table&#125;&#125;
      {{/themed-syntax}}
    </p>

    <p>
      As with inline usage, you can still designate <strong>properties that will not be displayed</strong>, using the an <strong>underscore</strong> (<code>_tags="small forward marquette"</code>).
    </p>

    {{#sf-table as | sf |}}
      <thead>
        <tr>
          {{sf.headings
            headings=(array
            (hash key="firstName" display="First Name")
            (hash key="lastName" display="Last Name")
            (hash key="number" display="No.")
            (hash key="position" display="Pos.")
            )}}
        </tr>
      </thead>
      <thead>
        <tr><td colspan="99">{{sf-filter  placeholder="Search"}}</td></tr>
      </thead>
      <thead>
        <tr><th colspan="99">1990s</th></tr>
      </thead>
      <tbody>
        {{sf.rows rows=(array
          (hash firstName='Michael' lastName='Jordan' number='23' position='G' _tags='guard north carolina')
          (hash firstName='Scottie' lastName='Pippen' number='33' position='SF' _tags='small forward central arkansas')
          (hash firstName='Horace' lastName='Grant' number='54' position='F' _tags='power forward clemson')
          )}}
      </tbody>
      <thead>
        <tr><th colspan="99">Today</th></tr>
      </thead>
      <tbody>
        {{sf.rows rows=(array
          (hash firstName='Dwyane' lastName='Wade' number='3' position='G' _tags='guard marquette')
          (hash firstName='Jimmy' lastName='Butler' number='21' position='SF' _tags='small forward marquette')
          (hash firstName='Rajan' lastName='Rondo' number='9' position='G' _tags='guard kentucky')
          )}}
      </tbody>
    {{/sf-table}}
</div>

{{/bulma-section}}
