@import 'bulma';

* {
  i.fa {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: -0.5%;
  }

  .button.cancel {
    @extend .is-danger;
  }

  button.edit {
    @extend .is-primary;
  }

  .edit-field {
    li {
      list-style: none;
    }
  }
}
