{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#each (sort-by (concat group.groupSortKey ':' group.groupSortDirection) _rows) as |item|}}
    {{#if (hash-contains item group.groupQuery)}}
      <tr>
        {{#each-keys object=item as | key value|}}
          {{#unless (is-private-key key)}}
            <td>{{html-safe value}}</td>
          {{/unless}}
        {{/each-keys}}
      </tr>
      {{/if}}
  {{/each}}
{{/if}}
