<main>
  {{#ui-hero isWarning=true}}
    <div class="hero-body">
      <h1 class="title">
        <i class="fa fa-table"></i> Ember Sort Filter Table
      </h1>
    </div>
    <div class="hero-foot">
      {{#ui-tabs isRight=true isBoxed=true}}
        <ul>
          <li class="is-active">
            <a href="https://github.com/crodriguez1a/ember-sort-filter-table" target="_blank"><i class="fa fa-github"></i>&nbsp;Source</a>
          </li>
          <li>
            <a href="mailto:crodriguez1a@gmail.com"><i class="fa fa-paper-plane"></i>&nbsp;Email</a>
          </li>
        </ul>

      {{/ui-tabs}}
    </div>
  {{/ui-hero}}
  <section class="section">
    <div class="content version-notes">
      <h4><i class="fa fa-sticky-note"></i> Version Notes</h4>
      <ul>
      <li>
        <strong><a href="https://github.com/crodriguez1a/ember-sort-filter-table/releases/tag/0.3.0" target="_blank">0.3.0</a></strong>
        <ul>
          <li>Fixes <a href="https://github.com/crodriguez1a/ember-sort-filter-table/issues/29" target="_blank">#29</a></li>
          <li>Updates to Ember 2.14.x</li>
          <li>Contextual component approach (backwards compatible)</li>
        </ul>
      </li>
      <li>
        <strong>0.2.6</strong>
        <ul>
          <li>Block syntax support</li>
          <li>Ember Data support</li>
        </ul>
      </li>
      <li>
        <strong>0.2.5</strong>
        <ul>
          <li>Fixes issue <a href="https://github.com/crodriguez1a/ember-sort-filter-table/issues/27" target="_blank">#27</a></li>
        </ul>
      </li>
      <li>
        <strong>0.2.4</strong>
        <ul>
          <li>Update to Ember 2.6 - issue <a href="#https://github.com/crodriguez1a/ember-sort-filter-table/issues/25" target="_blank">#25</a></li>
          <li>Replace lodash dependency with Object.values polyfill</li>
          <li>Fixes issue <a href="https://github.com/crodriguez1a/ember-sort-filter-table/issues/26" target="_blank">#26</a></li>
        </ul>
      </li>
      {{#if older}}
      <li>
        <strong>0.2.1</strong>
        <ul>
          <li>
            Remove observer - issue <a href="https://github.com/crodriguez1a/ember-sort-filter-table/issues/21" target="_blank">#21</a>
          </li>
          <li>
            Replace sendAction with closure actions - issue <a href="https://github.com/crodriguez1a/ember-sort-filter-table/issues/22" target="_blank">#22</a>
          </li>
        </ul>
      </li>
       <li>
         <strong>0.2.0</strong>
         <ul>
           <li>Ember 2.x optimization</li>
           <li>Template update to remove outer div. Base of component is now a <code>table</code> tag.</li>
           <li>Addition of some semantic class names</li>
           <li>Prevent non-primitives in model from rendering (e.g., functions, objects)</li>
           <li>Fix issue <a href="https://github.com/crodriguez1a/ember-sort-filter-table/issues/16" target="_blank">#16</a></li>
           <li>Fix issue <a href="https://github.com/crodriguez1a/ember-sort-filter-table/issues/17" target="_blank">#17</a></li>
         </ul>
       </li>
       <li>
         <strong>0.1.9</strong>
         <ul>
           <li>Fix issue <a href="https://github.com/crodriguez1a/ember-sort-filter-table/issues/15" target="_blank">#15</a></li>
         </ul>
       </li>
       <li>
         <strong>0.1.8</strong>
         <ul>
           <li>HTML markup support in model</li>
           <li>Component short name alias <code>sf-table</code></li>
         </ul>
       </li>
       <li>
         <strong>0.1.7</strong>
         <ul>
           <li>Camel case row header support</li>
           <li>Private keys bugfix</li>
         </ul>
       </li>
       {{/if}}
      </ul>
      {{#unless older}}
        <p>
          <a href="#" {{action (toggle 'older' this)}}>
            Older
          </a>
        </p>
      {{/unless}}
    </div>
  </section>

  <section class="section">
    <div class="content">
      <h2 class="title">Installation</h2>
      {{#themed-syntax lang="bash" theme="dark"}}
ember install ember-sort-filter-table
      {{/themed-syntax}}
    </div>
  </section>

  <section class="section">
    <h2 class="title">Usage</h2>

    {{demo-nav activeSection=activeSection show=(action 'show')}}
  </section>

  {{#if isLoading}}
    Loading...
  {{else}}
    {{component (concat 'demo-' activeSection) model=model}}
  {{/if}}

  <footer class="footer">
    <div class="content">
      <p>
        <a href="https://github.com/crodriguez1a/ember-sort-filter-table" target="_blank"><strong>Ember Sort Filter Table</strong></a> is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
      </p>
    </div>
    {{#ui-tabs isRight=true}}
      <ul>
        <li>
          <a href="https://github.com/crodriguez1a/ember-sort-filter-table" target="_blank"><i class="fa fa-github"></i>&nbsp; Source</a>
        </li>
        <li>
          <a href="mailto:crodriguez1a@gmail.com"><i class="fa fa-paper-plane"></i>&nbsp; Email</a>
        </li>
      </ul>
    {{/ui-tabs}}
  </footer>
</main>
